@import url("https://fonts.google.com/specimen/Bitter?query=Bitter");
body{
    font-family: var(-paragraph-font);
    max-width: 960px;
    padding:20px
}
:root{
    --primary-color: #119DA4;
    --secondary-color:#19647E;
    --accent1-color:#FFC857;
    --accent2-color:#4B3F72;

    --heading-font: '', serif;
    --paragraph-font: '', serif;

    --nav-background-color: ;
    --nav-link-color: ; 
    --nav-hover-color: ;
    --nav-hover-background-color: #;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color:var(--primary-color);
}

header {

    padding: 20px;
    /*background-color:var(--accent1-color);*/
    margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px, 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

p{
    padding: 25px;

}
nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    text-align: right;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem ;

}

nav a:link, nva a:visited {
    color:var(--nav-link-color);
}

nav a:hover {
    color:var(--nav-hover-link-color);
    background-color:var(--nav-hover-background-color);
    display: flex;


}
.box{
    margin: 1rem;
    border: 1px solid rgba(0,0,0,1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

aside{
    width: 20em;
    text-align: center;
}

main img {
    float: right
}
aside h2{
    position: absolute;
    top: 47px;
    left: 150px;
}

.img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

h1 {
	font-size: 2rem;
	font-family: Acme, Arial, sans-serif;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}
