body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    background: #fff;
    max-width: 1000px;
    padding:20px;
    margin: 0 auto;

}


:root{
    --primary-color: #00BBF9;
    --secondary-color:#FEE440;
    --accent1-color:#ee6bba;
    --accent2-color:#9B5DE5;

    --heading-font: '', serif;
    --paragraph-font: '', serif; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color:var(--primary-color);
}

header {
    display: grid;
    grid-template-columns: auto;


}

 div {
    position: relative;
    width: auto;
    height: auto; 
}

div h1 {
    position: absolute;
    align-items: center;
    color: whitesmoke;
    text-align: center;

    
}
div article {
    position: absolute;
    top: 30%;
    justify-content: center;
    align-items: center;
    
    
}
div article img{
    float:right;
}
div article{
    background-color: aliceblue;
}

a {
    text-decoration: none;
    color: black;

}


header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
    background-color: skyblue;
    padding: 20px;
    
}

header img {
	margin: 0 0.25rem 0 1rem;
	width: 80px;
	height: auto;
}

header nav {
	display: flex;
	color:navy;
	text-decoration: none;
    gap: .3em;


    
}

header nav a {
	display: flex;
	color: darkmagenta;
	text-decoration: none;
    border: 1px solid black;
    background-color: white;
    padding: 5px;


    
}


header nav a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	font-family: Acme, Arial, sans-serif;
}



footer {
    display: grid;
    grid-template-columns: 5fr 1fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
    background-color: skyblue;
    padding: 20px; 
}
footer p{
    text-align: center;
}

footer nav {
    display: flex;
	text-decoration: none;
    border: 1px solid black;
    background-color: white;
    justify-content: space-between;
    gap: 1px;
 
}
footer nav a {
    display: flex;
	color: navy;
	text-decoration: none;
    border: 1px solid black;
    background-color: white;
    padding: 5px; 


}

footer nav a img{
    display: flex;
	color: navy;
	text-decoration: none;
    border: 1px solid black;
    background-color: white;
    padding: 5px; 
    gap: 5px;
      

}

.companycontact{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: auto;
  margin-inline-start: auto;

}

.Happy_Employees{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: auto;
   margin-inline-start: auto;
}

.figurecaption{
    align-items: center;
    text-align: center;
}

.hero{
    display: grid;
}

.hero article {
    max-width: 600px;
    display: flex;
    background-color:rgb(197, 103, 165);
    padding: 30px;
    max-width: fit-content;
    color: white;
    
}
    
form{
    width: 900px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: #eee;
   

}
fieldset{
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(o,0,0,0.2);
    padding: 1rem;
    background-color: silver;
  
}

legend{
    padding: 0.5 rem;
    color: navy;
    font-size: 1.3em;

}
label, input, button, select, textarea {
    font-family: Arial, Helvetica, sans-serif;
}

label{
    text-align: left;
    padding-right: 1rem;
    color:black;

}

input, select, textarea{
    padding: 0.5rem;
    font-size: 1.1rem;

}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;

}

button{

    margin: 1rem;
    background-color:#00BBF9;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;

}

button:hover {
    background-color:var(--accent1-color);
}

.form-item{
    display: grid;
    align-items: center;
}
.column1 {
    grid-template-columns: 3fr, 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr, 2fr;
}