nav {
    background-color: steelblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;

}

h1 {
    display:block;
    color: steelblue;
    align-content: center;
    max-width: 849px;;

}

/* div main h1 {
    width: 1fr;
    height: auto;
    border-bottom: 2px, steelblue;
    padding: 2px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: steelblue;
}*/

p {padding: 0;
text-align: left;}

main {
    max-width: 840px;
}

aside img {
    width:1fr;
    height: auto;

}

main img {
    width:150 px;
    height: auto;
}

aside {
    width: 20rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color:#333;
    text-align: center;
    margin: 1rem;
    text-align: justify;
    
}

img{
    width: 200;
    height: auto;
}

.box{
    margin: 1rem;
    border: 1px solid rgba(0,0,0,1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

aside{
    width: 20em;
    text-align: center;
}

main img {
    float: right
}
aside h2{
    position: absolute;
    top: 47px;
    left: 150px;
}
header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    display: flex;
    background-color: steelblue;
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;

}

nav a {
    display: block;
    padding: 0.5 rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff; 
}

.grid{
    display: grid;
    align-items: center;

}

main{
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

footer p {
    text-align: center;
}

