@import url("https://fonts.google.com/specimen/Bitter?query=Bitter");
body{
    font-family: var(-paragraph-font);
    max-width: 960px;
    padding:20px
}
:root{
    --primary-color: #119DA4;
    --secondary-color:#19647E;
    --accent1-color:#FFC857;
    --accent2-color:#4B3F72;

    --heading-font: '', serif;
    --paragraph-font: '', serif;

    --nav-background-color: ;
    --nav-link-color: ; 
    --nav-hover-color: ;
    --nav-hover-background-color: #;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color:var(--primary-color);
}

header{

    padding: 20px;
    background-color:var(--accent1-color);

}

p{
    padding: 25px;

}
nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem ;

}

nav a:link, nva a:visited {
    color:var(--nav-link-color);
}

nav a:hover {
    color:var(--nav-hover-link-color);
    background-color:var(--nav-hover-background-color);

}

